.restaurant-header {
  display: flex;
  flex-direction: column;
  gap: 40px;
  background: white;
  min-width: 1200px;
}

.header-container {
  background: white;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header-wrapper {
  max-width: 1200px;
}

.header-content-wrapper {
  display: flex;
  justify-content: space-between;
}

.header-attribute-wrapper {
  display: flex;
  align-items: center;
  gap: 32px;
}

.flex {
  display: flex;
}

.flex-col {
  flex-direction: column;
}

.align-items-center {
  align-items: center;
}

.bold {
  font-weight: bold;
}

.space-between {
  justify-content: space-between;
}

.gap-2 {
  gap: 8px;
}

.gap-5 {
  gap: 20px;
}

.gap-8 {
  gap: 32px;
}

.text-schedule {
  color: var(--brand-yellow);
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
}

.text-14px {
  font-size: 14px;
}

.text-header-grey {
  color: var(--grey-2);
  font-weight: 400;
  line-height: 20px;
}

@media only screen and (max-width: 1200px) {
  .restaurant-header {
    min-width: 100%;
  }

  .header-container {
    align-items: initial;
    padding: 0px 20px;
  }

  .header-attribute-wrapper {
    gap: 24px;
  }
}

@media only screen and (max-width: 768px) {
  .restaurant-header {
    min-width: 100%;
  }

  .header-attribute-wrapper {
    gap: 12px;
  }

  .header-container {
    align-items: initial;
    padding: 0px 20px;
  }

  .header-content-wrapper {
    flex-direction: column;
    gap: 8px;
    align-items: center;
  }
}

@media only screen and (max-width: 650px) {
  .header-attribute-wrapper {
    display: flex;
    flex-direction: column;
    gap: 4px;
  }

  .title-restaurant {
    text-align: center;
  }
}
