* {
  font-family: var(--primary-font);
}
.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 16px 40px;
  gap: 11px;
  position: absolute;
  width: 100%;
  height: 84px;
  left: 0px;
  top: 0px;
  background-color: var(--grey-6);
}
.nav-logo {
  width: 116.92px;
  height: 40px;
  margin-right: 40px;
  cursor: pointer;
}
.navbar input {
  float: left;
  background-image: url('https://i.ibb.co/tpTH2F0/Vector.png');
  background-repeat: no-repeat;
  display: flex;
  flex-direction: row;
  align-items: center;
  background-position: 10px 10px;
  gap: 24px;
  padding: 0px 40px;
  border: 1px solid var(--grey-4);
  border-radius: 40px;
  width: 400px;
  height: 40px;
  font-size: 14px;
}
.navbar form {
  flex: 4;
}
.btn-wrap {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px;
  gap: 24px;

  width: 213px;
  height: 40px;
  flex: none;
  order: 1;
  flex-grow: 0;
}
.btn-cart {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0px 16px;
  gap: 14px;
  width: 56px;
  height: 40px;
  border: 1.5px solid var(--brand-purple);
  border-radius: 40px;
  flex: none;
  order: 0;
  flex-grow: 0;
  cursor: pointer;
}
.btn-cart img {
  width: 24px;
  height: 24px;
}
.btn-log {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0px 16px;
  gap: 14px;
  border: none;
  width: 133px;
  height: 40px;
  background: var(--brand-purple);
  border-radius: 40px;
  color: #ffff;
  flex: none;
  order: 1;
  flex-grow: 0;
  font-weight: 600;
  cursor: pointer;
  font-size: 14px;
}
.modal-content{
  position: fixed;
  width: 600px;
  max-width: 100%;
  min-height: 516px;
  right: 0%;
  top: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 16px;
  gap: 16px;
  isolation: isolate;
  border-color: var(--grey-5);
  background-color: var(--neutral-white);
  border-radius: 24px 0px 0px 0px;
  z-index: 99;
}
