.add-button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 8px;
  gap: 8px;

  position: relative;
  width: 40px;
  height: 40px;

  background-color: var(--brand-purple);
  color: var(--brand-yellow);
  border-radius: 72px;
  border: none;

  font: var(--text-lg-medium);

  cursor: pointer;
}
