.card {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  max-width: 288px;
  min-height: 278px;
  padding: 16px;
  gap: 16px;
  background: var(--neutral-white);
  border: 1px solid var(--grey-5);
  border-radius: 8px;
}

.card-img-top {
  width: 100%;
  height: 142px;
  border-radius: 4px;
  background-color: black;
  object-fit: cover;
}

.card-body {
  width: 100%;
}

.card-body .card-title {
  width: 100%;
  font: var(--text-base-medium);
  color: var(--neutral-black);
}

.card-body__bottom {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.card-text {
  font: var(--text-sm-reguler);
  color: var(--grey-2);
}
