.top-seller-container {
    background-color: var(--brand-purple);
    border-radius: 40px;
    padding: 2px 8px;
    gap: 4px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: max-content;
}