footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 50px 120px;
    gap: 87px;
    position: relative;
    width: 1440px;
    height: 336px;
    background: var(--brand-purple);
}
.footer-logo{
position: relative;
    width: 75.83px;
    left: 0px;
    top: 0px;
}
.footer-wrap-left{
    display: flex;
    flex-direction: column;
}
.footer-wrap-right{
    display: flex;
    flex-direction: column;
}
.footer-title{
    width: 514px;
    height: 36px;
    font-weight: 600;
    font-size: 30px;
    line-height: 36px;
    color: #FFFFFF;
    flex: none;
    order: 0;
    flex-grow: 0;
    margin-top: 56px;
}
.footer-desc{
    width: 595px;
    height: 24px;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;
    flex: none;
    order: 1;
    flex-grow: 0;
    margin-top: 16px;
}
.footer-link{
    display: flex;
    align-items: center;
    padding: 0px;
    gap: 32px;
    width: 320px;
    height: 16px;
    flex: none;
    order: 2;
    flex-grow: 0;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    color: #FFFFFF;
    list-style: none;
    margin-top: 56px;
    cursor: pointer;
}
.footer-link :hover{
    color: var(--brand-yellow);
}
.google{
    margin-bottom: 17.64px;
    cursor: pointer;
}
.apple{
    cursor: pointer;
}